/* h1 */
@font-face {
  font-family: 'Agatho';
  src: url('fonts/Agatho_\ LightCAPS.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* h2 */
@font-face {
  font-family: 'Timeless';
  src: url('fonts/Timeless.ttf') format('truetype');
  font-weight: normal;
}

/* p */
@font-face {
  font-family: 'Cabin';
  src: url('fonts/Cabin-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --darkbrown: #452b07;
  --lightbrown: #ddc493;
  --beige: #faecd1;
  --olive: #B6CA8A;
}

/* CSS Reset */

html, body, header, main, footer {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background-image: url("../images/green-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background-color: var(--beige);
  min-width: 500px;
  max-width: 900px;
  justify-content: center;
  margin: auto;
  padding: 20px;
  filter: drop-shadow(0px 0px 3px var(--darkbrown));
}

header {
  height: 60px;
  margin-bottom: 20px;
}

main {
  min-height: 50vh;
}

h1 {
  font-family: "Agatho", serif;
  font-size: 56px;
  color: var(--darkbrown);
  margin-top:10px;
}

h2 {
  font-family: "Timeless", serif;
  color: var(--darkbrown);
}

p,
ul li {
  font-family: "Cabin", sans-serif;
  color: var(--darkbrown);
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

#topnav ul {
  list-style-type: none;
  align-items: center;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--darkbrown);
  display: flex;
}

#topnav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  white-space: nowrap;
}

#topnav ul li a:hover {
  background: var(--olive);
}

footer {
  background-color: var(--darkbrown);
  width: 100%;
}

#bottomnav nav ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#bottomnav nav ul li {
  color: white;
  padding: 10px;
  justify-content: center;
}

#bottomnav p {
  font-family: "Cabin", sans-serif;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

#construction ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#construction ul li {
  font-size: 40px;
  text-align: center;
  
}